<ng-container *ngIf="quizMetadata">
  <div class="quiz-heading">
    <form [formGroup]="quizHeadingForm">
      <input matInput formControlName="title" placeholder="Quiz title" />
      <input matInput formControlName="subtitle" placeholder="Quiz subtitle" />
    </form>
  </div>
  <app-question
    *ngFor="let question of questionsMetadata$ | async"
    [questionMetadata]="question"
    [disabled]="true"
    [changeable]="true"
  ></app-question>
  <button mat-raised-button (click)="addQuestion()">
    <mat-icon>add</mat-icon>
    Add Question
  </button>
</ng-container>
