<ng-container *ngIf="step !== undefined">
  <a
    [routerLink]="getLink()"
    class="link"
    routerLinkActive="active"
    routerLinkActiveOptions="{exact: true}"
  >
    <mat-card class="step-preview">
      <mat-card-title-group>
        <mat-card-title>{{ step.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ step.subtitle }}
        </mat-card-subtitle>
      </mat-card-title-group>
      <!-- <mat-card-actions class="step-actions">
        <button mat-raised-button (click)="onDeleteStep()" color="primary">
          <mat-icon> delete </mat-icon>
        </button>
        <button mat-raised-button (click)="openStepInEditor()" color="primary">
          <mat-icon> edit </mat-icon>
        </button>
      </mat-card-actions> -->
    </mat-card>
  </a>
</ng-container>
