:host {
  display: block;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 10px;
  width: 100%;

  border: 1px solid #212121;

  transition: 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
