:host {
  display: block;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 10px;
  width: 100%;

  border: 1px solid #212121;

  transition: 0.3s;

  background-color: rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 10px;
  width: 100%;

  border: 1px solid #212121;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
