<div class="wrapper">
  <div class="block">
    <div class="header-text">
      <h3>Thank You for Registering</h3>

      <div class="form-group" *ngIf="(userMetadata | async) !== null">
        <p class="text-center">
          We have sent a confirmation email to
          <strong>{{ (userMetadata | async)?.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>

      <div class="form-group">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="onSendVerificationEmail()"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>

    <div class="redirect-to-login">
      <span>
        Go back to?
        <span class="redirect" routerLink="/auth/sign-in"> Sign in</span>
      </span>
    </div>
  </div>
</div>
