<mat-toolbar class="toolbar" color="primary">
  <a
    class="link"
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>logo</span>
  </a>
  <a class="link" routerLink="catalog" routerLinkActive="active">
    <span>catalog</span>
  </a>
  <a class="link" routerLink="library" routerLinkActive="active">
    <span>library</span>
  </a>
  <a class="link" routerLink="editor" routerLinkActive="active">
    <span>editor</span>
  </a>
  <a class="link" routerLink="profile" routerLinkActive="active">
    <span>profile</span>
  </a>
</mat-toolbar>
