<ng-container *ngIf="book !== undefined">
  <mat-card class="book-preview">
    <mat-card-title-group>
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ book.subtitle }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions class="book-actions">
      <button mat-raised-button (click)="onDeleteBook(book.id)" color="primary">
        <mat-icon> delete </mat-icon>
      </button>
      <button
        mat-raised-button
        (click)="openBookInEditor(book.id)"
        color="primary"
      >
        <mat-icon> edit </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
