:host {
  display: block;
}

.card {
  border: 1px solid gray;
  .list {
    padding: 0px;
    margin: 0;

    .item {
      border-top: 1px solid gray;
      list-style: none;
      padding: 0px;
      height: 64px;
    }
  }
}
